#heading {
    color: red;
    padding: 10px;
}
#subheading {
    padding: 30px;
}
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo {
    width: 200px;
    height: 200px;
}
.navItems {
    display: flex;
    align-items: center;
}
.navItems > ul {
    font-size: 24px;
    display: flex;   
    list-style-type: none;
}
.navItems > ul > li {
    padding: 10px; 
    margin: 10px;  
}
.search {
    padding: 30px;
}
.restaurantContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.restaurantCard{
    border: 1px solid gray;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
}
.restaurantCard:hover {
    border: 2px solid #007bff; /* Change color as desired */
    box-shadow: 4px 4px 12px rgba(0,0,0,0.15); /* Optional: enhance shadow on hover */
    transition: border 0.2s, box-shadow 0.2s;
    cursor: pointer;
}
.restaurantImage {
    width: 250px;
    height: 250px;
}
.filterBtn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}